{% extends 'base.html' %}
{% block title %}Costs{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{STATIC_URL}}js/d3-tip.js"></script>
{% endblock %}

{% block css %}{% endblock %}
{% block content %}
        {#{% load clearcache %}#}
        {#{% clearcache alertcache %}#}
        {% include 'home/alerts.html' %}
    {% include 'filters.html' %}
    <div id="graph-1" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-1');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Costs by  Category</h3>{% include 'time_window_month.html' with num="1" %}
            <div  class="box">
                <div class="webfont loader" id="loader-1"></div>
                <div id="aggregate_costs" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
    <div id="graph-2" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-2');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Per-Member Costs over Time Period</h3>{% include 'time_window_month.html' with num="2" %}
            <div  class="box">
                <div class="webfont loader" id="loader-2"></div>
                <div id="pmpm" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
    <div id="graph-3" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-3');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Costs Summary</h3>
            <div  class="" id=summary-table>
            <div class="webfont loader" id="loader-3"></div>
            <table class="fadeIn fadeIn-1s">
            <tr>
                <th class="category"><h3>Category</h3></th>
                <th class="reporting"><h3>Reporting Period</h3></th>
                <th class="comparison hi-lite"><h3>Comparison Period</h3></th>
            </tr>
            <tr>
                <td class="category">Employees</td>
                <td class="reporting hi-lite employees">{{ reporting.employees }}</td>
                <td class="comparison hi-lite employees">{{ comparison.employees }}</td>
            </tr>
            <tr>
                <td class="category">Members</td>
                <td class="reporting hi-lite members">{{ reporting.members }}</td>
                <td class="comparison hi-lite members">{{ comparison.members }}</td>
            </tr>
            <tr>
                <td class="category">Claimants</td>
                <td class="reporting hi-lite claimants">{{ reporting.claimants }}</td>
                <td class="comparison hi-lite claimants">{{ comparison.claimants }}</td>
            </tr>
            <tr>
                <td class="category">Claims</td>
                <td class="reporting hi-lite claims">{{ reporting.claims }}</td>
                <td class="comparison hi-lite claims">{{ comparison.claims }}</td>
            </tr>
            <tr>
                <td class="category">Total Dollars</td>
                <td class="reporting hi-lite totalcost">{{ reporting.totalcost }}</td>
                <td class="comparison hi-lite totalcost">{{ comparison.totalcost }}</td>
            </tr>
            <tr>
                <td class="category">Avg. Claims per Member</td>
                <td class="reporting hi-lite avg_claims">{{ reporting.avg_claims }}</td>
                <td class="comparison hi-lite avg_claims">{{ comparison.avg_claims }}</td>
            </tr>
            <tr>
                <td class="category">ER Visits</td>
                <td class="reporting hi-lite er_visits">{{ reporting.er_visits }}</td>
                <td class="comparison hi-lite er_visits">{{ comparison.er_visits }}</td> 
            </tr>
            <tr>
                <td class="category">Avg Claim Cost</td>
                <td class="reporting hi-lite avg_claim_cost">{{ reporting.avg_claim_cost }}</td>
                <td class="comparison  hi-lite avg_claim_cost">{{ comparison.avg_claim_cost}}</td>
            </tr>
            </table>
            </div>
        </div>
    </div>
    <div id="graph-4">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-4');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Cumulative Costs</h3>{% include 'time_window_month.html' with num="4" %}
            <div id="" class="box">
                <div class="webfont loader" id="loader-4"></div>
                <div class="nodata" id="nodata-4">Insufficient Data.</div>
                <div id="cumulative" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
{% endblock %}