{% extends 'base.html' %}
{% block title %}Costs{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}js/d3-tip.js"></script>   
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    {% include 'home/alerts.html' %}
    {% include 'filters.html' %}
    <div id="graph-2" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-2');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Costs over 12 Months</h3>{% include 'time_window.html' %}
            <div  class="box">
                <div id="aggregate_costs" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
    <div id="graph-1" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-1');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Per-Member Costs over 12 Months</h3>{% include 'time_window.html' %}
            <div  class="box">
                <div id="pmpm" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
    <div id="graph-5">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-5');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Cumulative Costs</h3>{% include 'time_window.html' %}
            <div id="" class="box">
            <div id="cumulative" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
{% endblock %}
