{% extends 'base.html' %}
{% block title %}Costs{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{STATIC_URL}}js/d3-tip.js"></script>
{% endblock %}

{% block css %}{% endblock %}
{% block content %}
        {#{% load clearcache %}#}
        {#{% clearcache alertcache %}#}
        {% include 'home/alerts.html' %}
    {% include 'filters.html' %}
    <div id="graph-1" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-1');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Costs by  Category</h3>{% include 'time_window_month.html' with num="1" %}
            <div  class="box">
                <div class="webfont loader" id="loader-1"></div>
                <div id="aggregate_costs" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
    <div id="graph-2" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-2');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Per-Member Costs over Time Period</h3>{% include 'time_window_month.html' with num="2" %}
            <div  class="box">
                <div class="webfont loader" id="loader-2"></div>
                <div id="pmpm" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
    <div id="graph-3" class="">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-3');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Costs Summary</h3>
            <div  class="" id=summary-table>
            <table class="fadeIn fadeIn-1s">
            <tr>
                <th class="screening"><h3>Category</h3></th>
                <th class="status"><h3>Reporting Period</h3></th>
                <th class="percentage hi-lite"><h3>Comparison Period</h3></th>
            </tr>
            <tr>
                <td class="screening">Employees</td>
                <td class="hi-lite">{{ reporting.employees }}</td>
                <td class="percentage hi-lite">{{ comparison.employees }}</td>
            </tr>
            <tr>
                <td class="screening">Members</td>
                <td class="hi-lite">{{ reporting.members }}</td>
                <td class="percentage hi-lite">{{ comparison.members }}</td>
            </tr>
            <tr>
                <td class="screening">Claimants</td>
                <td class="hi-lite">{{ reporting.claimants }}</td>
                <td class="percentage hi-lite">{{ comparison.claimants }}</td>
            </tr>
            <tr>
                <td class="screening">Claims</td>
                <td class="hi-lite">{{ reporting.claims }}</td>
                <td class="percentage hi-lite">{{ comparison.claims }}</td>
            </tr>
            <tr>
                <td class="screening">Total Dollars</td>
                <td class="hi-lite">${{ reporting.totalcost }}</td>
                <td class="percentage hi-lite">${{ comparison.totalcost }}</td>
            </tr>
            <tr>
                <td class="screening">Avg. Claims per Member</td>
                <td class="hi-lite">{{ reporting.avg_claims }}</td>
                <td class="percentage hi-lite">{{ comparison.avg_claims }}</td>
            </tr>
            <tr>
                <td class="screening">ER Visits</td>
                <td class="hi-lite">{{ reporting.er_visits }}</td>
                <td class="percentage hi-lite">{{ comparison.er_visits }}</td> 
            </tr>
            <tr>
                <td class="screening">Avg Claim Cost</td>
                <td class="hi-lite">${{ reporting.avg_claim_cost }}</td>
                <td class="percentage hi-lite">${{ comparison.avg_claim_cost}}</td>
            </tr>
            </table>
            </div>
        </div>
    </div>
    <div id="graph-4">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-4');">
            <i class="fa fa-caret-down"></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Cumulative Costs</h3>{% include 'time_window_month.html' with num="4" %}
            <div id="" class="box">
            <div id="cumulative" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>
    </div>
{% endblock %}