{% extends 'base.html' %}
{% block title %}Future Outlook{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{STATIC_URL}}js/tooltip.js"></script>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
{% include 'filters.html' %}
        <div id="traffic-lights">
            <div class="show-hide-toggle">
                <a href="javascript:;" onclick="fold('#traffic-lights');">
                <i class="fa fa-caret-down"></i></a>
                <hr/>
            </div>
            <div class="hide">
                <h3>Today's Snapshot</h3>
                <div id="snapshot" class="box">
                    <table>
                        <tr>
                            <td>Leavers</td>
                            <td>On the Fence</td>
                            <td>Stayers</td>
                        </tr>
                        <tr>
                            <td class="traffic"><div id="traffic-1" class="red"><h4></h4></div></td>
                            <td class="traffic"><div id="traffic-2" class="yellow"><h4></h4></div></td>
                            <td class="traffic"><div id="traffic-3" class="green"><h4></h4></div></td>
                        </tr>
                        <tr>
                            <td id="diff_leavers"></td>
                            <td id="diff_fencers"></td>
                            <td id="diff_stayers"></td>
                        </tr>
                    </table>
                    
                    <div class=right>
                        <div id=download>
                            <a href="../downloads/risk_scores.xls" target="_blank">
                                <i class="fa fa-cloud-download"></i>
                                <span class="label">Download Risk Scores</span>
                            </a>
                        </div>
                        <article>
                            <div class="pointer-box-left"><div class="pointer small"></div></div>
                            <p>
                                Size of user base in risk categories
                            </p>
                        </article>
                        <article>
                            <div class="pointer-box-left"><div class="pointer small"></div></div>
                            <p>
                                Change in size since the previous week
                            </p>
                        </article>
                    </div>
                </div>
            </div>            
        </div>

        <div id="graph">
            <div class="show-hide-toggle">
                <a href="javascript:;" onclick="fold('#graph');">
                <i class="fa fa-caret-down"></i></a>
                <hr/>
            </div>
            <div class="hide">
                <h3>Percentage of Member Base in Different Risk Score Categories</h3>
                {% include 'outlook/graph.html' %}
            </div>
        </div>

        <div id="bubble" class="bubble-chart">
        <div class="show-hide-toggle">
                <a href="javascript:;" onclick="fold('#bubble');">
                <i class="fa fa-caret-down"></i></a>
                <hr/>
            </div>
        <div class="hide">
            <div class="top">
              <h3>
                  <a href="#all" class="category" value="all">Risk Assessment Segmentation</a>
<!--
                  <a href="" class="category" value="large">Largest</a> |
                  <a href="" class="category" value="red">Riskiest</a> |
                  <a href="" class="category" value="green">Least Risky</a> |
-->
              </h3>
            </div>

            <div class="box summary" id=summary>
                <div class=pointer-box><div class=pointer></div></div>
                
                <table>
                    <tr>
                    <th>5 Riskiest Segments</th>
                    <th>5 Most Engaged Segments</th>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><div class="circle small red degree-1"></div></td>
                        <td class=narrow>Segment 3</td><td>Program A, Male, Age 35-50</td>
                        <td><div class="circle small green degree-1"></div></td>
                        <td class=narrow>Segment 2</td><td>Program C, Female, Age 35-50</td>
                    </tr>
                    <tr>
                        <td><div class="circle small red degree-2"></div></td>
                        <td class=narrow>Segment 19</td><td>Male, Age 50-65, Diabetic</td>
                        <td><div class="circle small green degree-2"></div></td>
                        <td class=narrow>Segment 10</td><td>Female, Age 50-65, Diabetic</td>
                    </tr>
                    <tr>
                        <td><div class="circle small red degree-3"></div></td>
                        <td class=narrow>Segment 21</td><td>Program C, Age 35-50, Diabetic</td>
                        <td><div class="circle small green degree-3"></div></td>
                        <td class=narrow>Segment 15</td><td>Program A, Female, Age 50-65</td>
                    </tr>
                    <tr>
                        <td><div class="circle small red degree-4"></div></td>
                        <td class=narrow>Segment 5</td><td>Male, Age 35-50, High Blood Pressure</td>
                        <td><div class="circle small green degree-4"></div></td>
                        <td class=narrow>Segment 4</td><td>Male, Age 35-50, Diabetic</td>
                    </tr>
                    <tr>
                        <td><div class="circle small red degree-5"></div></td>
                        <td class=narrow>Segment 12</td><td>Female, Age 50-65, Diabetic</td>
                        <td><div class="circle small green degree-5"></div></td>
                        <td class=narrow>Segment 22</td><td>Program B, Male, Age 35-50</td>
                    </tr>
                </table>
            
            </div>
        </div>
      </div>
    <script src="../public/js/risk-bubble.js"></script>
{% endblock %}