@import url(http://fonts.googleapis.com/css?family=Pacifico);

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, p, blockquote, button{
margin:0;
padding:0;
line-height: normal;
outline:none;
}

body{font-size:11px;}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
font-size:1em;
font-style:normal;
font-weight:normal;
outline:none;
}

a, button, select { outline:none;text-decoration:none;}
a:focus, button:focus, img:focus, select:focus { outline:none;text-decoration:none; }
a:active, button:active, img:active, select:active { outline:none;text-decoration:none; }
a:hover{text-decoration: none;}

img { outline:none;text-decoration:none;border:0px;border-style:none;}

button::-moz-focus-inner { border: 0; }
select::-moz-focus-inner { border: 0; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus{
    outline: none;-webkit-focus-ring-color:  rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}


@font-face{ 
    font-family: 'WebFont'; 
    src: url('Webfont/webfont.eot'); 
    src: url('Webfont/webfont.eot?#iefix') format('embedded-opentype'), 
    url('Webfont/webfont.woff') format('woff'), 
    url('Webfont/webfont.ttf') format('truetype'), 
    url('Webfont/webfont.svg#webfont') format('svg');
}

.webfont{
    font-family: "Webfont";
    font-style: normal;
    font-weight: normal;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}

.bold{
    font-weight:bold;
}

/* ~~~~~~~~~ common ~~~~~~~~~~ */

body, select, input, textarea {
	font-family: helvetica, verdana, sans-serif;
	color: #333;
	font-size: small;
}
body {
    position:absolute;
    top:0;
    bottom:0;
    min-height:100%;
    width: 100%;
    /* background-image: url('../images/back.png'); */
}

h1 {
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: xx-large;
}
h2 {
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: x-large;
}
h3{
    font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: large;
}
h4{
    font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: medium;
}

article{
    font-size:small;
    margin:10px;
}

p{
    padding:20px 10px;
}

.x-small{font-size: x-small;}
.small{font-size:small;}
.normal{font-size:normal;}
.large{font-size:large;}
.x-large{font-size:x-large;}


.corner-3{border-radius: 3px;}
.corner-5{border-radius: 5px;}

nav li.selected{
    /* z-index: 1; */
    font-weight: bold;
    text-shadow: 1px -2px #3572a0;    
}
.show-hide-toggle{
    margin:0;
} 

.show-hide-toggle a{
    font-size: small;  
    color:#ccc;
}

.show-hide-toggle i{
    display: inline-block;
    vertical-align: middle;
    font-size:22px;
    /* margin-right: 5px; */
    width:15px;
    /* color:#888; */
}
.show-hide-toggle hr{
    width:735px;
    display: inline-block;
    vertical-align: middle;
    border:none;
    border-top:1px solid #ddd;
    margin-left: 5px;
}

.hide{
    margin-bottom: 40px;
    display: block;
    background: none;
}

.box{
    width:760px;
/* 	height:400px; */
	margin-top:10px;
	border-radius: 5px;
	border:1px solid #ddd;
	background-color: #fff;
	/* overflow: hidden; */
}

svg{
    /* overflow: hidden; */
}

#shadow-box{
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    background-color: #555;
    opacity: 0.9;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 9;
}

#disable{
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 11;
    display:none;  
}

#details{
    width:780px;
    min-height:300px;
    border: 1px solid #ddd;
    position:absolute;
    top:100px;
    left:400px;
    z-index: 12;
    background-color: #fff;
    border-radius: 5px;
    padding-left:20px;
    padding-bottom: 80px;
    /* margin-bottom:50px; */
}

#details .close{
    padding: 5px 10px;
    font-size: xx-large;
}

.tabbed-box{
    /* width:760px; */
    padding-top:20px;
	/* margin-top:10px; */
	border-radius: 5px;	
	border:1px solid #ddd;
	
/*
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
*/
	background-color: #fff;
}

.nav.nav-tabs.tab-box{
    margin-bottom: -1px;
    width:736px;
    border-bottom-style:solid 1px #fff;
}

.nav-tabs:first-child{
    margin-left:20px;
}

.nav-tabs li a{
    line-height:16px;
}
.nav-tabs li a i{
    font-size:medium;
}
.nav-tabs li.active a i{
    color:#999;
}

.circle{
    border-radius:50%;
}

.circle.small{
    width:15px;
    height:15px;
}
.circle.medium{
    width:30px;
    height:30px;
}
.circle.large{
    width:90px;
    height:90px;
}

.degree-1{opacity:1.0;}
.degree-2{opacity:0.8;}
.degree-3{opacity:0.6;}
.degree-4{opacity:0.4;}
.degree-5{opacity:0.2;}

.fadeIn { 
	/* CSS needed for animation
	---------------------------------------------------- */
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	-o-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
 
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-1s {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}

.fadeIn-2s {
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
}
 
.fadeIn-3s {
	-webkit-animation-duration:3s;
	-moz-animation-duration:3s;
	-o-animation-duration:3s;
	animation-duration:3s;
}
 
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-1s {
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	animation-delay:1s;
}
 
.fadeIn-Delay-5s {
	-webkit-animation-delay:5s;
	-moz-animation-delay:5s;
	-o-animation-delay:5s;
	animation-delay:5s;
}

/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes    fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes      fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes         fadeIn { from { opacity:0; } to { opacity:1; } }


/*~~~~~ tooltips ~~~~~*/

.tooltip .tooltip-inner{
    background-color: #2688bc;/*  #3ca3da; */
    color:#fff;
    /* font-weight:bold; */
    white-space: normal;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.10);
}

.tooltip.top .tooltip-arrow{
    border-top-color: #2688bc;/*  #3ca3da; */
    background: none;
}
.tooltip.right .tooltip-arrow{
     border-right-color: #2688bc;
     background: none;
}
.tooltip.left .tooltip-arrow{
     border-left-color: #2688bc;
     background: none;
}
.tooltip.bottom .tooltip-arrow{
     border-bottom-color: #2688bc;
     background: none;
}

.tooltip-0{
    position: absolute;
    visibility:hidden;
    display:table;
    border: 1px solid #aaa;
    background-color: #fefefe;
    opacity: 0.95;
    color: #777;
    padding: 5px 10px;
    min-width: 10px;
    /* font-size: 11px; */
    z-index: 10;
    border-radius: 3px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.10);
    text-align: center;
}

.tooltip-0 .tool-label{
    /* display:table-cell; */
    vertical-align: middle;
    text-align: center;
    height:0px;
    margin-top:5px;  
}

.tooltip-1 {
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid #e0e0e0;
    background-color: #fefefe;
    opacity: 0.95;
    color: #777;
    padding: 2px 10px 10px 10px;
    width: 100px;
    font-size: 7pt;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.20);
}

.tooltip-1 .title a {
    font-size: 8pt;
    font-weight: bold;
    color: #777;
    line-height:2;
}



/* ~~~~~~~~~ graphs ~~~~~~~~~ */

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    stroke-width:1px;
}
text{
	fill:#aaa;
	font-size: 10px;
	font-family:Helvetica, sans-serif;	
}

.x.axis path{}
.y.axis path{}

.line {
  fill: none;
  stroke:none;
  stroke-width: 2.5px;
}

.text{
	fill:#999;
	font-size: 10px;
	font-family:Helvetica, sans-serif;
}



.bubble-chart{
    width:760px;
}

.bubble-chart h3 {
    color: #aaa;
}

.bubble-chart .top {
    text-align: left;
    line-height: 18pt;
}

.bubble-chart .top a {
    color: #aaa;
}

.bubble-chart .top a:visited {
    color: #aaa;
}

.bubble-chart h3 > small {
    margin: 0 0 0 26px;
    font-size: 10pt;
    font-weight: 400;
}

/*
.popover {
    z-index: 9000;
}
*/

.bubble-chart svg {
      min-width: 500px;
      min-height: 400px;
}
.summary{
    margin-top:30px;
}
.summary table{
    margin:0px 20px 20px 20px;
    width:720px;
    /* font-size: small; */
}
.summary table td{
    padding:5px;
}
.summary table .narrow{
    width:80px;
}

.summary th{
    font-size: large;
    text-align: left;
}

.summary .circle.red{
    border:1px solid #b3361a;
}
.summary .circle.green{
    border:1px solid #03a956;
}

.button-back, .button-fwd{
    font-size:xx-large;
    position:absolute;
}
