#alerts-tab{
    position: relative;
    font-size: medium;
    left:-45px;
    top:0px;
    background-color: #f9f9f9;
    width:23px;
    height:30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:1px solid #ddd;
    border-right:1px solid #f9f9f9;
}

#alerts-tab i{
    /* color:#a1cdf3; */
    color:#bbb;
    margin-left: 6px;
    position: relative;
    top:6px;
    text-shadow: 1px 1px #fff, 0px -1px #ddd;
}

#alerts-tab i:hover{
    color:#83c0ff;
    text-shadow:none;    
}

#alerts-label{
    -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    position: absolute;
    left:-8px;
    top:48px;
    color:#ccc;
}

#alerts-label.active-alerts{
    /* color:#83c0ff; */
}

#alerts-box{
    width:0px;
    min-height:30px;
    margin-bottom:30px;    
    border: 1px solid #ddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-style: none;
    position: relative;
    left: -20px;
    top:-32px;
    display: none;
    opacity: 0.2;
    overflow: hidden;
}
#alerts-box i{
    opacity:0.7;
    font-size: medium;
    margin-right: 10px;
    vertical-align: middle;
}

#alerts-box .alert, 
#alerts-box .alert-error, 
#alerts-box .alert-success, 
#alerts-box .alert-info{
    margin:2px;
    margin-left:15px;
    white-space: nowrap;   
}

#filter-controls{
    width:780px;
    margin:-32px auto 0 -7px;
}


.pmpm{
    fill:none;
    stroke:#3ea4bf;
    stroke-width:2px;
}
.grid .tick {
    stroke: #eee;
    opacity: 0.6;
}
.grid path {
    stroke-width: 0;
}
.overlay {
   fill: none;
   pointer-events: all;
}
.tracker{
    fill:#fff;
    stroke:#3ea4bf;
    /* stroke:#ff4566; */
    stroke-width:1;
}

.tooltip-1{
    background-color: #fff;
    min-height:20px;
    min-width:20px;
    border:#3ea4bf 1px solid;
    border-radius:5px;
    padding:10px;
    padding-top:0px;
    opacity:0.9;
    font-size: x-small;
    font-weight: bold;
    box-shadow: 2px 2px 5px #aaaaaa;
    /* color:#3ea4bf; */
    color:#777;
    z-index: 1;
}
.tooltip-1 li{
    list-style-type: decimal;
    list-style-position: inside;
    white-space: nowrap;
}
.tooltip-1 h4{
    font-size: x-small;
    font-weight: bold;
    /* color:#888; */
    /* color:#3ea4bf; */
    line-height:2.5;
}
.tooltip-1 ul{
   /*  border-top: #eee solid 1px; */
}

.tooltip-1{
    padding-top:15px;
}

.tooltip-1 h3{
    vertical-align: middle;
    text-align: center;
    font-size: small;
    font-weight: bold;
    color:#3ea4bf;
}

#cumulative .bar {
  /* fill: #49bf92; */
  fill:orange;
  /* fill:#7abfff; */
  /* fill:#fd889b; */
  
}

#cumulative .bar:hover {
  fill: orangered;
  /* fill: #ff4566; */
  /* fill:#57a1ff; */
  /* fill:#3ea4bf; */
  
}

#cumulative .x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}