svg{
    font: 10px sans-serif;
	/* opacity:0; */
}
.line {
  fill: none;
  stroke: #3399cc;
  stroke-width:3px;
}

h3 {
    color: #AAAAAA;
}

#graph-1 .hide .box{
    min-height:420px;
}

#graph-1 .hide:hover .button-back, #graph-1 .hide:hover .button-fwd{
    opacity:0.4;
    transition:opacity 2s;
    -moz-transition:opacity 2s;
    -webkit-transition:opacity 2s;
    -o-transition:opacity 2s;
}

.button-back{
    background-color: #ddd;
    left:20px;
    top:40%;
    width:60px;
    height:60px;
    opacity:0;
    border:2px solid #ccc;
    z-index: 3;
}

.button-fwd{
    background-color: #ddd;
    right:20px;
    top:40%;
    width:60px;
    height:60px;
    opacity:0;
    border:2px solid #ccc;
     z-index: 3;
}

.button-back a, .button-fwd a{
    height:100%;
    width:100%;
    display: table;
}

.button-back a i, .button-fwd a i{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    color:#fff;   
}
.button-back:hover, .button-fwd:hover{
    background-color: #999;
    border:2px solid #eee;
    opacity:0.7;
    transition:opacity 2s;
    -moz-transition:opacity 2s;
    -webkit-transition:opacity 2s;
    -o-transition:opacity 2s;
}

.button-back:active, .button-fwd:active{
    background-color: #555;
    opacity:0.5;
}

#graph-1 .hide{
    position: relative;
}

#slides{
    overflow: hidden;
}
#slides svg{
    position: relative;
        
}
#slide-0{
    position:relative;
    left:0;
    display:inline-block;
}

#graph-2 .pointer{
    /* background-color:#f7f7f7; */
    background-color:#ffffff;
}






.right{
    width:330px;
    display: inline-block;
    margin:10px;
    padding:10px;
    vertical-align: top;
}
.left{
    width:330px;
    display: inline-block;
    margin:10px;
    padding:10px;
    vertical-align: top;
}
#thermometer{
    margin-left:20px;
    display: inline-block;
    width:50px;
}
#thermo-top{
    border-radius: 50%;
    border: #999 solid 2px;
    height:20px;
    width:20px;
    background-color: #fff;
       
}
#thermo{
    border-left: #999 solid 2px;
    border-right: #999 solid 2px;
    height:130px;
    width:20px;
    top:-10px;
    position: relative;
    background-color: #fff;

    z-index:1;
}

#thermo-bottom{
    border-radius: 50%;
    border: #999 solid 2px;
    height:40px;
    width:40px;
    top:-15px;
    left:-10px;
    position:relative;
    z-index:0;
    background-color: #fff;     
}

#thermo-circle{
    border-radius: 50%;
    background-color: #ff4566;
    width:30px;
    height:30px;
    top:-52px;
    left:-3px;
    position:relative;
    z-index: 2;
}

#measure{
    height:70px;
    width:10px;
    background-color: #ff4566;
    top:70px;
    left:5px;
    position:relative;
    border-radius: 5px;
}
#health-index{
    padding-top:20px;
}
#health-index .info{
    display: inline-block;
    width:250px;
    vertical-align: top;
}

#health-index .left .info h2{
    color:#57a1ff;
    font-weight: bold;
}

#health-index p{
    padding:10px;
    padding-left:0px;
    margin-left:0px;
}

#health-index h5, #health-index h4{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

#health-index h5{
    font-size: x-small;
}

#health-index table tr{
    width:200px;
}

#health-index table td{
    padding:10px;
    font-size: medium;
    font-weight:bold;
}

#health-index table td.percent{
    color:#57a1ff;
    font-size: x-large;
}
#health-index .left{
    border-right:2px #eee solid;
}


#ugly-hack{
    position: relative;
    z-index: 3;
    color:#fff;
    top:230px;
    left:120px;
    font-weight: bold;
}

#ugly-hack td{
    padding:5px;
    position: relative;
}

#hack1{left:5px;}
#hack2{left:5px;top:-15px;}
#hack3{left:7px;top:-25px;}
#hack4{left:92px;}
#hack5{left:94px;top:-30px;}
#hack6{left:96px;top:-55px;}
#hack7{left:180px;}
#hack8{left:182px;top:-6px;}
#hack9{left:184px;top:-15px;}