{% extends 'proto.html' %}
{% block title %}Login{% endblock %}
{% block javascript %}{% endblock %}
{% block css %}{% endblock %}

<body>
    {% block content %}
    <div id="login-container">
        {% if state %}
        <div class="alert alert-error">
            <!-- <button type="button" class="close" onclick="ToggleAlertsBox();">&times;</button> -->
            <i class="fa fa-warning-sign"></i>
            <strong>{{state}}</strong>
        </div>
        {% endif %}
        <div id="login">
            <h1 class="pacifico" id="login-title">Login</h1>
        	<form action="/login/" method="post">
        		{% csrf_token %}
        		{% if next %}
        		<input type="hidden" name="next" value="{{ next }}" />
        		{% endif %}
        		<table>
        		<tr>
        		<td class=login-label>User</td>
        		<td><input type="text" name="username" value="{{username}}" /></td>
        		</tr>
        		<tr>
        		<td class=login-label>Password</td>
        		<td><input type="password" name="password" value="" /></td>
        		<td><input type="submit" value="Login" class="btn btn-zp" /></td>
        		</tr>
        		</table>
        	</form>
        </div>
    </div>
	{% endblock %}
</body>
</html>