<nav>
<ul>
    <li {% if page == "home"         %} class="selected " {% else %} class=" " {% endif %}><a href="/">Costs</a></li>
    <li {% if page == "population"   %} class="selected " {% else %} class=" " {% endif %}><a href="/population">Population</a></li>
    <li {% if page == "compliance"   %} class="selected " {% else %} class=" " {% endif %}><a href="/compliance">Compliance</a></li>
<!--     <li {% if page == "outlook"      %} class="selected " {% else %} class=" " {% endif %}><a href="/outlook">Engagement</a></li> -->
    <li {% if page == "providers"    %} class="selected " {% else %} class=" " {% endif %}><a href="/providers">Providers</a></li>
    <li {% if page == "returns"      %} class="selected " {% else %} class=" " {% endif %}><a href="/projections">Predicted Costs</a></li>
    <li {% if page == "outcomes"     %} class="selected " {% else %} class=" " {% endif %}><a href="/outcomes">Outcomes</a></li>    
    {% if page == "home" %}
    <li id="alerts-button">
        <a href="javascript:;" onclick="ToggleAlertsBox();">
           <i class="fa fa-bell-o" 
              onmouseover="$(this).toggleClass('fa-bell-o fa-bell');"
              onmouseout="$(this).toggleClass('fa-bell-o fa-bell');"></i>
        </a>
    </li>
    {% endif %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <!-- <i class="webfont">U </i> -->
        {{user.first_name}} {{user.last_name}}
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu dropdown-menu-arrow">
      <li><a href="https://zdemo.zakipoint.com" target="_blank"><i class="fa fa-flask"></i> Tind Lite</a></li>
      <!-- <li><a href="https://tind-lite.zakipoint.com/" target="_blank"><i class="fa fa-flask"></i> Tind Lite</a></li> -->
      <li><a href="/simulation"><i class="fa fa-dashboard"></i> Simmulation</a></li>
      <li><a><i class="fa fa-question-circle"></i> Help</a></li>
      <li><a href="../public/data/report.pdf"><i class="fa fa-cloud-download"></i> Download PDF</a></li>
      <li><a><i class="fa fa-wrench"></i> Settings</a></li>
      <li class="divider"></li>
      <li><a href="/logout"> <i class="fa fa-power-off"></i> Logout</a></li>
    </ul>
    </li>
</ul>
</nav>