<nav>
<ul>
    <li {% if page == "home"         %} class="selected " {% else %} class=" " {% endif %}><a href="/">Costs</a></li>
    <li {% if page == "population"   %} class="selected " {% else %} class=" " {% endif %}><a href="/population">Population</a></li>
    <li {% if page == "compliance"   %} class="selected " {% else %} class=" " {% endif %}><a href="/compliance">Compliance</a></li>
<!--     <li {% if page == "outlook"      %} class="selected " {% else %} class=" " {% endif %}><a href="/outlook">Engagement</a></li> -->
    <li {% if page == "providers"    %} class="selected " {% else %} class=" " {% endif %}><a href="https://tind-lite.zakipoint.com/" target="_blank">Providers</a></li>
    <li {% if page == "returns"      %} class="selected " {% else %} class=" " {% endif %}><a href="/projections">Predicted Costs</a></li>
    <li {% if page == "outcomes"     %} class="selected " {% else %} class=" " {% endif %}><a href="/outcomes">Outcomes</a></li>    
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="webfont">U </i>
        {{user.first_name}} {{user.last_name}}
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu dropdown-menu-arrow">
      <li><a><i class=icon-dashboard></i> Account</a></li>
      <li><a><i class=icon-wrench></i> Settings</a></li>
      <li><a><i class=icon-question-sign></i> Help</a></li>
      <li><a href="../public/data/report.pdf"><i class=icon-cloud-download></i> Download PDF</a></li>
      <li class="divider"></li>
      <li><a href="/logout"> <i class=icon-off></i> Logout</a></li>
    </ul>
    </li>
</ul>
</nav>