{% extends 'base.html' %}
{% block title %}Returns{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{STATIC_URL}}js/activity.js"></script>
<!-- <script type="text/javascript" src="{{STATIC_URL}}js/costs.js"></script> -->
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    {% include 'filters.html' %}
    <div id="graph-2">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-2');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Growth in Healthcare Costs</h3>
            <div class="box">
                <div id="big-costs" class="fadeIn fadeIn-1s"></div>
            </div>
        </div>            
    </div>
    
    <div id="graph-3">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-3');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Health Claim Costs, rolling monthly average</h3>
            <div id="costs" class="box">
                <div id="ugly-hack" class="fadeIn fadeIn-1s">
                    <table>
                    <tr>
                        <td id=hack1>$455</td>
                        <td id=hack2>$505</td>
                        <td id=hack3>$545</td>
                        <td id=hack4>$460</td>
                        <td id=hack5>$550</td>
                        <td id=hack6>$632</td>
                        <td id=hack7>$450</td>
                        <td id=hack8>$475</td>
                        <td id=hack9>$499</td>
                    </tr>
                    </table>
                </div>
                {% include 'projections/costs.html' %}
            </div>
        </div>            
    </div>
        
    <div id="graph-4">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-4');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Health Index</h3>
            <div id="health-index" class="box">
                <div class="left fadeIn fadeIn-1s">
                    <h4>Sick Days</h4><h5>in last 30 days</h5>
                    <br />
                    <div id=thermometer>
                        <div id=thermo-top></div>
                        <div id=thermo>
                            <div id=measure></div>
                        </div>
                        <div id=thermo-bottom></div>
                        <div id=thermo-circle></div>
                    </div>
                    <div class=info>
                        <p>Per 100 employees not in program.
                            <h2>13 days</h2>
                        </p>
                        <p>Per 100 employees in program.
                            <h2>11.4 days</h2>
                        </p>
                    </div>
                </div>
                <div class="right fadeIn fadeIn-1s">
                    <h4>Health Culture</h4><h5>in last 12 Months</h5>
                    <br />
                    
                    <table>
                    <tr>
                        <td class=percent>66%</td>
                        <td>Employees done HRA</td>
                    </tr>
                    <tr>
                        <td class=percent>34%</td>
                        <td>Attended advisory</td>
                    </tr>
                    <tr>
                        <td class=percent>24%</td>
                        <td>Spouses enrolled</td>
                    </tr>
                    <tr>
                        <td class=percent>57%</td>
                        <td>Done lab and biometrics</td>
                    </tr>                        
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}