{% extends 'base.html' %}
{% block title %}Outcomes{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/tooltip.js"></script>
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
	{% include 'filters.html' %}
        <div id="graph-1">
            <div class="show-hide-toggle">
                <a href="javascript:;" onclick="fold('#graph-1');">
                <i class=icon-caret-down></i></a>
                <hr/>
            </div>
            <div class="hide">
                <div class="button-back circle"><a href="javascript:;" onclick="ShiftSlide('prev');">
                    <i class="icon-chevron-left"></i></a></div>
                <div class="button-fwd circle"><a href="javascript:;" onclick="ShiftSlide('next');">
                    <i class="icon-chevron-right"></i></a></div>
                <h3>Trend Curve of User Activity and Health Progress</h3>
                <div class="box" id=slides>
                    <div id="slide-0"></div>
                </div>
            </div>
        </div>
    <div id="graph-5">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-5');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Health Claim Costs, rolling monthly average</h3>
            <div id="costs" class="box">
                <div id="ugly-hack" class="fadeIn fadeIn-1s">
                    <table>
                    <tr>
                        <td id=hack1>$455</td>
                        <td id=hack2>$505</td>
                        <td id=hack3>$545</td>
                        <td id=hack4>$460</td>
                        <td id=hack5>$550</td>
                        <td id=hack6>$632</td>
                        <td id=hack7>$450</td>
                        <td id=hack8>$475</td>
                        <td id=hack9>$499</td>
                    </tr>
                    </table>
                </div>
                {% include 'projections/costs.html' %}
            </div>
        </div>            
    </div>

    <div id="graph-4">
        <div class="show-hide-toggle">
            <a href="javascript:;" onclick="fold('#graph-4');">
            <i class=icon-caret-down></i></a>
            <hr/>
        </div>
        <div class="hide">
            <h3>Health Index</h3>
            <div id="health-index" class="box">
                <div class="left fadeIn fadeIn-1s">
                    <h4>Sick Days</h4><h5>in last 30 days</h5>
                    <br />
                    <div id=thermometer>
                        <div id=thermo-top></div>
                        <div id=thermo>
                            <div id=measure></div>
                        </div>
                        <div id=thermo-bottom></div>
                        <div id=thermo-circle></div>
                    </div>
                    <div class=info>
                        <p>Per 100 employees not in program.
                            <h2>13 days</h2>
                        </p>
                        <p>Per 100 employees in program.
                            <h2>11.4 days</h2>
                        </p>
                    </div>
                </div>
                <div class="right fadeIn fadeIn-1s">
                    <h4>Health Culture</h4><h5>in last 12 Months</h5>
                    <br />
                    
                    <table>
                    <tr>
                        <td class=percent>66%</td>
                        <td>Employees done HRA</td>
                    </tr>
                    <tr>
                        <td class=percent>34%</td>
                        <td>Attended advisory</td>
                    </tr>
                    <tr>
                        <td class=percent>24%</td>
                        <td>Spouses enrolled</td>
                    </tr>
                    <tr>
                        <td class=percent>57%</td>
                        <td>Done lab and biometrics</td>
                    </tr>                        
                    </table>
                </div>
            </div>
        </div>
    </div>



        
        <div id="graph-2" class="bubble-chart">
            
            <div class="show-hide-toggle">
                <a href="javascript:;" onclick="fold('#graph-2');">
                <i class=icon-caret-down></i></a>
                <hr/>
            </div>
            
            <div class="hide">
                <h3>Change in Outcome by Segment</h3>                
                
                <div class="box summary" id=summary-1>
                    <div class=pointer-box><div class=pointer></div></div>
                    
                    <table>
                        <tr>
                        <th>Top 5 Outcomes</th>
                        <th>Bottom 5 outcomes</th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><div class="circle small blue degree-1"></div></td>
                            <td class=narrow>Segment 2</td><td>Program C, Female, Age 35-50</td>
                            <td><div class="circle small fuschia degree-1"></div></td>
                            <td class=narrow>Segment 3</td><td>Program A, Male, Age 35-50</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-2"></div></td>
                            <td class=narrow>Segment 10</td><td>Female, Age 50-65, Diabetic</td>
                            <td><div class="circle small fuschia degree-2"></div></td>
                            <td class=narrow>Segment 19</td><td>Male, Age 50-65, Diabetic</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-3"></div></td>
                            <td class=narrow>Segment 15</td><td>Program A, Female, Age 50-65</td>
                            <td><div class="circle small fuschia degree-3"></div></td>
                            <td class=narrow>Segment 21</td><td>Program C, Age 35-50, Diabetic</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-4"></div></td>
                            <td class=narrow>Segment 4</td><td>Male, Age 35-50, Diabetic</td>
                            <td><div class="circle small fuschia degree-4"></div></td>
                            <td class=narrow>Segment 5</td><td>Male, Age 35-50, High Blood Pressure</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-5"></div></td>
                            <td class=narrow>Segment 22</td><td>Program B, Male, Age 35-50</td>
                            <td><div class="circle small fuschia degree-5"></div></td>
                            <td class=narrow>Segment 12</td><td>Female, Age 50-65, Diabetic</td>
                        </tr>
                    </table>
                </div>
            
            </div>
        </div>
        
        <div id="graph-3" class="bubble-chart">    
            <div class="show-hide-toggle">
                <a href="javascript:;" onclick="fold('#graph-3');">
                <i class=icon-caret-down></i></a>
                <hr/>
            </div>
            
            <div class="hide">
                <h3>Movement in Outcome by Segment</h3>                
                
                <div class="box summary" id=summary-2>
                    <div class=pointer-box><div class=pointer></div></div>
                    
                    <table>
                        <tr>
                        <th>Top 5 Movers</th>
                        <th>Bottom 5 Movers</th>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><div class="circle small blue degree-1"></div></td>
                            <td class=narrow>Segment 2</td><td>Program C, Female, Age 35-50</td>
                            <td><div class="circle small fuschia degree-1"></div></td>
                            <td class=narrow>Segment 3</td><td>Program A, Male, Age 35-50</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-2"></div></td>
                            <td class=narrow>Segment 10</td><td>Female, Age 50-65, Diabetic</td>
                            <td><div class="circle small fuschia degree-2"></div></td>
                            <td class=narrow>Segment 19</td><td>Male, Age 50-65, Diabetic</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-3"></div></td>
                            <td class=narrow>Segment 15</td><td>Program A, Female, Age 50-65</td>
                            <td><div class="circle small fuschia degree-3"></div></td>
                            <td class=narrow>Segment 21</td><td>Program C, Age 35-50, Diabetic</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-4"></div></td>
                            <td class=narrow>Segment 4</td><td>Male, Age 35-50, Diabetic</td>
                            <td><div class="circle small fuschia degree-4"></div></td>
                            <td class=narrow>Segment 5</td><td>Male, Age 35-50, High Blood Pressure</td>
                        </tr>
                        <tr>
                            <td><div class="circle small blue degree-5"></div></td>
                            <td class=narrow>Segment 22</td><td>Program B, Male, Age 35-50</td>
                            <td><div class="circle small fuschia degree-5"></div></td>
                            <td class=narrow>Segment 12</td><td>Female, Age 50-65, Diabetic</td>
                        </tr>
                    </table>
                </div>
            
            </div>
        </div>
		<script src="../public/js/bubble-1.js"></script>
		<script src="../public/js/bubble-2.js"></script>
{% endblock %}
