<script src="{{STATIC_URL}}js/dive.js"></script>
<script>

var margin = {top: 20, right: 90, bottom: 20, left: 90},
    box_width =  200 - margin.left - margin.right,
    box_height = 360 - margin.top  - margin.bottom;

var min = Infinity,
    max = -Infinity;

var chart = d3.boxplot()
    .whiskers(iqr(1.5))
    .width(box_width)
    .height(box_height);

d3.csv("{{STATIC_URL}}data/boxplot.csv", function(error, csv) {
  var data = [];

  csv.forEach(function(x) {
    var e = x.Expt - 1,
        r = x.Run  - 1,
        s = parseFloat(x.Speed),
        d = data[e];
    if (!d) d = data[e] = [s];
    else d.push(s);
    if (s > max) max = s;
    if (s < min) min = s;
  });
  
  chart.domain([0, max]);

  var svg = d3.select("#box-plot").selectAll("svg")
      .data(data)
    .enter().append("svg")
      .attr("class", "boxplot")
      .attr("width",  box_width  + margin.left + margin.right)
      .attr("height", box_height + margin.top  + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
      .call(chart);

/*
      var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);
*/
    
    var y = d3.scale.linear().range([box_height, 0]).domain([0, max]);
/*
    var xAxis = d3.svg.axis()
        .scale(x)
        .tickValues([1,10,20,30,40,50,60,70,80,90,100])
        .orient("bottom");
*/
    
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
      d3.select(svg[0][0]).append("g")
          .attr("class", "y axis")
          .attr("transform", "translate(-50,0)")
          .call(yAxis)
          
        /*
        .append("text")
          .attr("y", 5)
          .attr("x", 40)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Cost %");
        */


/*
  setInterval(function() {
    svg.datum(randomize).call(chart.duration(1000));
  }, 2000);
*/
});

function randomize(d) {
  if (!d.randomizer) d.randomizer = randomizer(d);
  return d.map(d.randomizer);
}

function randomizer(d) {
  var k = d3.max(d) * .02;
  return function(d) {
    return Math.max(min, Math.min(max, d + k * (Math.random() - .5)));
  };
}

// Returns a function to compute the interquartile range.
function iqr(k) {
  return function(d, i) {
    var q1 = d.quartiles[0],
        q3 = d.quartiles[2],
        iqr = (q3 - q1) * k,
        i = -1,
        j = d.length;
    while (d[++i] < q1 - iqr);
    while (d[--j] > q3 + iqr);
    return [i, j];
  };
}

</script>